body{
    background-color: lightgray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p{
    text-align: center;
}

#gridContainer{
    display: flex;
}

#outerContainer{
    padding: 16px;
}

#canvasSettings, #symbolSettings, #previewSettings, #drawingCanvas, #pictureName, #pictureCta, #previews{
    border: 1px solid black;
}

.drawAbleIcon{
    width: 96px;
}

#symbolSettings{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#star svg{
    fill: #FAC83C;
}

#triangle svg{
    fill: #FAA050;
}

#rectangle svg{
    fill: #D7E6AA;
}

#circle svg{
    fill: #dc504b;
    
}

path, circle{
    cursor: pointer;
    transition: all .2s ease-in-out;
}

path:hover, circle:hover{
    opacity: 0.4;
    transition: all .2s ease-in-out;
}

#rightContainer{
    width: 60%;

}

#leftContainer{
    width: 40%;
}

#leftContainer, #rightContainer{
    padding: 32px;
}

#drawingCanvas{
    border: none;
}

.sizeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#canvasSettings{
    display: flex;
}

#canvasSmall{
    width: 25%;
    background-color: #282828;
}

#canvasMedium{
    width: 35%;
    background-color: #F6E2A2;
}

#canvasBig{
    width: 40%;
    background-color:#AEC8E5;
}

#canvasSmall, #canvasMedium, #canvasBig{
    height: 96px;
    margin: 8px;
    cursor: pointer;
    position: relative;
}

#canvasSmall:hover, #canvasMedium:hover, #canvasBig:hover{
    opacity: 0.4;
    transition: all .2s ease-in-out;
}


#pictureName, #pictureCta, #previews{
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

#pictureCta{
    background-color: white;
    padding: 8px;
}

#pictureName{
    margin-bottom: 8px;
}

form{
    margin-bottom: 16px;
}

#clearPicture{
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    background: peachpuff;
    opacity: 1;
    transition: all .2s ease-in-out;
}

#clearPicture:hover{
    opacity: 0.6;
    transition: all .2s ease-in-out;
}
